<header>
	<div class="title">Carousel</div>
	<p>Around and 'round we go</p>
</header>

<div class='examples'>
	<div class="carousel">
		<ul>
			<li><img src='dog.jpg'></li>
			<li><img src='cat.jpg'></li>
			<li><img src='penguin.jpg'></li>
		</ul>
			<div class="carousel-nav">
    <a href="#" class="carouselPrevious">Previous</a> &mdash;
    <a href="#" class="carouselNext">Next</a>
  </div>
	</div>


</div>

<script>

$('div.carousel li').children().first().load(function() {
	 var totalItems = $('div.carousel li').children().length
   var carouselWidth = this.width
   var carouselHeight = this.height
   $('.carousel-nav').width(carouselWidth-4)
   $('.carousel').width(carouselWidth)
   $('.carousel ul').width(carouselWidth * (totalItems + 1))

  var rotate = function(){
	  $("div.carousel ul").animate({marginLeft:-(carouselWidth)},1000,function(){
	      $(this).find("li:last").after($(this).find("li:first"));
	      $(this).css({marginLeft:0});
	  })
	}
  var rotator = setInterval(rotate,5000);

   var rotateBack = function(){
	  $("div.carousel ul").animate({marginLeft:(carouselWidth)},1000,function(){
	      $(this).find("li:last").after($(this).find("li:first"));
	      $(this).css({marginLeft:0});
	  })
	}

	$('.carouselNext').click(function(event){
		event.preventDefault();
		rotate();
		clearInterval(rotator);
	})

	$('.carouselPrevious').click(function(event){
		event.preventDefault();
		rotateBack();
		clearInterval(rotator);
	})
});



</script>