<header>
	<div class="title">Tabs</div>
	<p> tabs</p>
</header>

<div class="examples">
	<ul class=>
		<li><a href="#">This</a></li>
		<li id="selected"><a href="#">That</a></li>
		<li><a href="#">The Other</a></li>
		<li><a href="#">Banana</a></li>
	</ul>

	</div>

	<div id="content">
		<p>Ispum schmipsum.</p>
	</div>
</div>