$font-stack: "Helvetica Neue",Helvetica,Arial,sans-serif;
$primary-color: #27709b;
$primary-background: #F4FAFF;

body {
  font-family: $font-stack;
  margin: 0px;
  background-color: $primary-background;
}

header {
	display: block;
	background-color: $primary-color;
	color: #fff;
	margin-top: 0px;
	padding: 90px 50px 30px 50px;
	z-index: -1;

	.title {
	font-size: 60px;
	font-weight:normal;
	margin: 0px;
	}

	p {
	font-size: 24px;
}
}

.examples {
	display: block;
	margin: 50px;
}
