.form {
font-size: 14px;
font-weight: bold;
color: $primary-color;

border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}