.modal-background {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    filter: alpha(opacity=50);
}

.modal-content {
	border: 2px solid black;
  border-radius:8px;
  padding:20px;
  background-color: white;
  width: 500px;
  min-height: 500px;
  position: fixed;
  top: 15%;
  left: 50%;
  margin-left: -250px;
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.modal-header {
	height: 50px;
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid lightgray;
	z-index: 1;
}

.modal-body {
	margin: 20px;
}

.modal-bottom {
	margin-top: 10px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.modal-x {
	float: right;
}