a {
  color: $primary-color;
  text-decoration: none;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.navbar {
  border-bottom: 1px solid #333;
  background-color: $primary-background;
  position: fixed;
  width: 100%;
}

.navbar-wrap {
  margin: -10px 0px -15px 0px;
}

.navbar-brand {
  float: left;
}

.navbar-brand > a {
  display: block;
  font-size: 30px;
  padding: 18px 20px;
  margin: 0px 0px -18px 50px;
}

.navbar-nav > ul {
	float: right;
}

.navbar-nav > ul > li {
  position: relative;
  float: left;
  display: block;
  width: 150px;
  text-align: center;
}

.navbar-nav > ul > li > a {
  display: block;
  padding: 10px 20px;
}

.navbar-nav > ul > li:hover > a {
  background: #c0c0c0;
}

.navbar-nav-drop-down {
  display: none;
  position: absolute;
  border: 2px solid #333;
  background: #fff;
  padding: 0px;
  width: 146px;
}

.navbar-nav > ul > li:hover > .navbar-nav-drop-down {
  display: block;
}

.navbar-nav-drop-down > li {
  border-top: 1px solid #333;
}

.navbar-nav-drop-down > li > a {
  display: block;
  padding: 5px 10px;
  color: $primary-color;
}

.navbar-nav-drop-down > li:hover > a {
  background: #c0c0c0;
}