.table {
	border: 2px solid black;
	border-collapse: collapse;
	margin: auto;

	tr {
		margin: 10px;
	}

	tr:nth-child(even) {
		background-color: lightgray;
	}

	th, td {
		padding:8px 15px;
		border-bottom: 1.5px solid gray;
	}

	th {
		border-bottom: 2px solid black;
	}
}

