<header>
	<div class="title">Buttons</div>
	<p>Click Click Click...</p>
</header>

<div class="examples">
	<button class='btn'>Default</button>
	<button class='btn btn-blue'>Blue</button>

	<button class='btn btn-green'>Green</button>

	<button class='btn btn-orange'>Orange</button>

	<button class='btn btn-red'>Red</button>

</div>