body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: #ffffff;
  color: #333;
}

a {
  color: #27709b;
  text-decoration: none;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.navbar {
  background: #ffffff;
  border-bottom: 1px solid #333;
}

.navbar-wrap {
  margin: -20px 0px -15px 0px;
}

.header-brand {
  float: left;
}

.header-brand > a {
  display: block;
  font-weight: bold;
  font-size: 30px;
  padding: 18px 20px;
}

.header-nav {
}

.header-nav > ul {
	float: right;
}

.header-nav > ul > li {
  position: relative;
  float: left;
  border-left: 3px solid #333;
}

.header-nav > ul > li > a {
  display: block;
  padding: 10px 20px;
}

.header-nav > ul > li:hover > a {
  background: #333;
}

.header-nav-drop-down {
  display: none;
  position: absolute;
  left: -3px;
  border: 3px solid #333;
  background: #fff;
  width: 300px;
}

.header-nav > ul > li:hover > .header-nav-drop-down {
  display: block;
}

.header-nav-drop-down > li {
  border-top: 3px solid #333;
}

.header-nav-drop-down > li:first-child {
  border-top: 0;
}

.header-nav-drop-down > li > a {
  display: block;
  padding: 5px 10px;
  color: #333;
}

.header-nav-drop-down > li:hover > a {
  background: #ccc;
}

.header-nav-badge {
  display: inline;
  background: #333;
  padding: 2px 5px;
  border-radius: 15px;
  font-size: 12px;
}

.header-nav > ul > li:hover .header-nav-badge {
  background: #f00;
}