<header>
	<div class="title">Dan Fan</div>
	<p>Hello!</p>
</header>

<div class="examples">
	<img class="me" src="me.jpg">
	<p> Thanks for visiting Shoelace! I hope you found it useful</p>

</div>

<style>
	.me {
		width: 200px;
		height: auto;
		float: right;
	}
</style>