<header>
	<div class="title">Dan Fan</div>
	<p>Hello there</p>
</header>
	<img class="me" src="me.jpg">


<div class="about-me">
	<h3> Thanks for visiting Shoelace! I hope you found it useful.</h3>

	<p> If you'd like to download all my stylesheets please visit my github page for this project <a href="https://github.com/DanFan1988/Shoelace/tree/master/app/assets/stylesheets" target="_blank">here!</a></p>

	<p> If you would like to get to know me a bit better and see some of my other projects, take a look at my portfolio page: <a href="http://www.dan-fan.com" target="_blank">www.dan-fan.com</a> or if you'd like to read my code check out my github page: <a href="https://github.com/DanFan1988?tab=repositories" target="_blank">https://github.com/DanFan1988</a></p>

</div>


<!-- style placed here to not interfere with styles intended for use -->
<style>
	.me {
		width: 200px;
		height: auto;
		float: right;
		margin: 20px;
	}

	.about-me {
		margin: 30px;
	}
</style>