<header>
	<div class="title">Welcome to Shoelace</div>
	<p>Inspired by Bootstrap and written by Dan Fan</p>
	<p>Code Snippets for HTML, CSS and JavaScript</p>
</header>

<div class="examples">
	<p> Written with JavaScript, jQuery, HTML5 and Sass without any other Front-End frameworks</p>
	<p> Routing, Views, and Templates handled by backbone.js</p>