<div class="navbar">
  <div class="navbar-wrap group">
    <nav class="navbar-brand">
      <a href="#">Shoelace</a>
    </nav>
    <nav class="navbar-nav">
      <ul class="group">
        <li>
        	<a href="#">CSS</a>
        	<ul class="navbar-nav-drop-down">
            <li><a href="#tables">Tables</a></li>
            <li><a href="#forms">Forms</a></li>
            <li><a href="#buttons">Buttons</a></li>
          </ul>
         </li>
        <li>
          <a href="#">Components</a>
          <ul class="navbar-nav-drop-down">
            <li><a href="#dropdowns">Dropdowns</a></li>
            <li><a href="#tabs">Tabs</a></li>
            <li><a href="#navbar">Navbar</a></li>
          </ul>
        </li>
        <li>
          <a href="#">JavaScript</a>
          <ul class="navbar-nav-drop-down">
            <li><a href="#modals">Modals</a></li>
            <li><a href="#carrousel">Carrousel</a></li>
          </ul>
        </li>
        <li><a href="#">About Me</a></li>
      </ul>
    </nav>

  </div>
</div>