<header class="navbar">
  <div class="navbar-wrap group">
    <nav class="navbar-brand">
      <a href="#">Shoelace</a>
    </nav>
    <nav class="header-nav">
      <ul class="group">
        <li>
        	<a href="#">CSS</a>
        	<ul class="header-nav-drop-down">
            <li><a href="#">Tables</a></li>
            <li><a href="#">Forms</a></li>
            <li><a href="#">Buttons</a></li>
          </ul>
         </li>
        <li>
          <a href="#">Components</a>
          <ul class="header-nav-drop-down">
            <li><a href="#">Someone liked your picture.</a></li>
            <li><a href="#">You have a new friend request.</a></li>
            <li><a href="#">Welcome to App Academy.</a></li>
          </ul>
        </li>
        <li>
          <a href="#">JavaScript</a>
          <ul class="header-nav-drop-down">
            <li><a href="#">Someone liked your picture.</a></li>
            <li><a href="#">You have a new friend request.</a></li>
            <li><a href="#">Welcome to App Academy.</a></li>
          </ul>
        </li>
        <li><a href="#">About Me</a></li>
      </ul>
    </nav>

  </div>
</header>