<!DOCTYPE html>
<html>
<head>
  <title>Shoelace</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <section id="navbar"></section>
<body>

  <section id="page">
    <div id="content"></div>
    <div id="sidebar"></div>
    <div id="code"></div>
  </section>

<%= yield %>

</body>
</html>
